---
layout: layouts/base.njk
---

<section class="page-layout">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <ul>
          {%- for post in post.posts -%}
            <article class="content mt-5">
              <h1 class="title">{{ post.title }}</h1>
              <p class="subtitle is-6">
                Author: {{post.author.name}}
                {# <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time> #}
              </p>
              {{ post.body | safe }}
            </article>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</section>