/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(248,249,250);
  min-width: 100vh;
  font-family: system-ui;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
