.app{
  width: 95%;
  max-width: 1100px;
  margin: 50px auto;
}

.books{
  display: grid;
  place-content: center;
  margin-top: 10px;
  grid-gap: 15px;
}

.buttons {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 30px;
}

.buttons button {
  padding: 5px 20px;
  border: none;
  color: white;
}

.center {
  text-align: center;
  display: block;
}

@media (min-width: 600px) {
  .books {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (min-width: 930px) {
  .books {
    grid-template-columns: 1fr 1fr 1fr;
  }
}