.book {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  max-width: 450px;
  max-height: 200px;
}

.book img {
  margin-right: 10px;
  width: 30%;
}

.book_desc{
  text-align: left;
}

.book_desc h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.book_desc > span{
  color: gray;
  font-size: 14px;
}

.book_authors{
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}

@media (min-width: 600px){

  .book img {
    width: 32%;
  }
}