---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const response = await fetch(import.meta.env.ASTRO_PUBLIC_WEBINY_API_URL, {
    method:'POST',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${import.meta.env.WEBINY_API_TOKEN}`
    },
      body: JSON.stringify({
        query: `
            query PostSlugs {
                listPosts {
                    data {
                        id
                        title
                        slug
                        description
                        featuredImage
                        author{
                            name
                            slug
                            picture
                        }
                    }
                }
            }
        `
    }),
})


    const json = await response.json();
    const results = json.data
    const posts = results.listPosts.data;
---

<Layout>
	<div class="md:flex md:justify-evenly md:items-center space-y-4 mt-8 px-4 overflow-hidden">
    	{posts.map(post => <Card post={post}></Card>)}
	</div>
</Layout>