---
title: Homepage
layout: layouts/base.njk
---

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ site.title }}</h1>
      <h2 class="subtitle">{{ site.description }}</h2>
    </div>
  </div>
</section>
<section class="postlist mt-3 pt-3">
  <div class="container">
    <h2 class="title has-text-centered mt-3 mb-6">Recent posts</h2>
    <div class="columns">
      {%- for post in post.posts -%}
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{ post.title }}
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <h6>Author: {{ post.author.name }}</h6>
                <div style=" white-space: nowrap; max-width: 400px; overflow: hidden;   text-overflow: ellipsis; ">{{ post.body }}</div>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="button is-fullwidth is-link card-footer-item">Read article</a>
            </footer>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>