<header>
    <nav>
        <ul>
            <li>
                <span>
                    Scully Webiny Blog
                </span>
                    </li>
                    <li>
                <a [routerLink]='["/"]' [routerLinkActive]='["link.active"]' >
                    Home
                    </a>
                    <a [routerLink]='["/blog"]' [routerLinkActive]='["link.active"]' >
                        Post
                        </a>
            </li>
            
        
            </ul>
        </nav>
        </header>